@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #047857; /* Emerald */
  --secondary-color: #D97706; /* Amber */
  --background-color: #F7FAFC; /* Cool Gray Lightest */
  --text-color: #1F2937; /* Cool Gray Darkest */
  --accent-color: #DC2626; /* Red */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
